{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
    <meta name="description" content="Learn a little about who and what is behind InvoicEasy." />
{% endblock %}

{% block extra_title %}
{{ block.super }}
    | About
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container-about">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>About Us</h1>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Who are we?</h2>
                <p>Well, at the moment "we", is actually just "I". I am an ex-accountant, new developer. My family are
                    all in trades of some form, mostly self-employed, most now retired! My Dad is an electrician and
                    pretty tech savvy, and he really has to do battle with his motivation levels to get on and do his
                    billing. He has a template setup that he puts the details on, but like all of us, he sometimes
                    overwrites the template, or a previously completed bill. Then, after a couple months of
                    procrastinating about bills the printer won't print and needs 7 head cleans, after which it then
                    declares it has no ink despite the test page looking totally fine! Aiiiiiiiiiii! If you don't know
                    this exasperation, I envy you. It got me to thinking there must be a better way.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>What is InvoicEasy?</h2>
                <p>It does what it says on the tin really. You sign up for a subscription, enter up your business info, add
                    your clients, then bung your invoicing details into our forms, and when you are ready, a PDF is created
                    for you to view and email as an attachment to your customer.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>What do we do?</h2>
                <p>We charge as little as we can to cover hosting costs, and we hope that as the platform grows, we can
                    reduce charges. We maintain the site and provide tech support, and the odd bit of fixing here and there.
                    We might look at adding new features, but our target market of the micro-business will always be at the
                    forefront in any new things we choose to explore.</p>
            </div>
        </div>
    </div>
{% endblock %}
