{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Home
{% endblock %}

{% block content %}
    <div class="container-fluid hero-container-home">
        <div class="hero-overlay-home">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>InvoicEasy</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Welcome to InvoicEasy.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
{% endblock %}
