{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Profile
{% endblock %}

{% block meta %}
{{ block.super }}
    <meta name="description" content="Update your business and contact info here."/>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container-invoices">
    <div class="hero-overlay-skinny">&nbsp;</div>
    <div class="row">
        <div class="col-12 hero-text">
            <h1>Profile</h1>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-4">
                <a class="btn bg-orange" href="{% url 'invoice' 0 %}">New Invoice</a>
                <a class="btn bg-blue" href="{% url 'customer' 0 %}">New Customer</a>
                <a class="btn bg-blue" href="{% url 'dashboard' %}">Dashboard</a>
            </div>
            <div class="col-12">
                <p>This area holds the information about your business which will be included on your invoices, make sure to keep it up to date.</p>
                <form id="profile-update-form" action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="submit btn bg-orange">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
