{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Cancelled
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container-allauth">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Checkout Cancelled</h1>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>You cancelled the signup process for InvoicEasy, and so you are not subscribed.</p>
            </div>
            <div class="col-12 text-center mt-3">
                <a class="btn bg-orange" href="{% url 'pricing' %}">Pricing</a>
                <a class="btn bg-grey" href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
