{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Cancel Subscription
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container hero-allauth">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Cancel Subscription</h1>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>You can cancel your subscription with us by clicking the button below.  You will retain access to all services until the end of your current subscription period, after which you will only be able to view your customers and invoices.</p>
            </div>
            <form id="cancel-subs" action="{% url 'cancel' %}" method="POST" class="text-center">
                {% csrf_token %}
                <button class="btn bg-orange" type="submit">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}
