{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Subscribed
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container hero-subscribe">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Subscription Success</h1>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>You are now subscribed to InvoicEasy, welcome aboard!</p>
                <a class="btn bg-orange" href="{% url 'subscribe' %}">See subscription</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
