{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid hero-container hero-allauth">
    <div class="hero-overlay-skinny">&nbsp;</div>
    <div class="row">
        <div class="col-12 hero-text">
            <h1>{% trans "Account Inactive" %}</h1>
        </div>
    </div>
</div>
  
<div class="container allauth-container">
    <p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
