{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid hero-container-allauth">
    <div class="hero-overlay-skinny">&nbsp;</div>
    <div class="row">
        <div class="col-12 hero-text">
            <h1>{% trans "Set Password" %}</h1>
        </div>
    </div>
</div>
  
<div class="container allauth-container">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn bg-orange" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
