{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Customer
{% endblock %}

{% block content %}

    <div class="container-fluid hero-container-invoices">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Customer</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <a class="btn bg-blue" href="{% url 'invoices' %}">Invoice Summary</a>
                <a class="btn bg-orange" href="{% url 'invoice' %}">New Invoice</a>
                <a class="btn bg-blue" href="{% url 'profile' %}">My Details</a>
            </div>
            <div class="col-12">
                <h2>Customer Information</h2>
                <p>Please complete/update the form below for your customer.</p>

                <form id="customer-update-form" action="{% url 'customer' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn bg-orange" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
