{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Invoices
{% endblock %}

{% block content %}

    <div class="container-fluid hero-container-invoices">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <a class="btn bg-orange" href="{% url 'invoice' %}">New Invoice</a>
                <a class="btn bg-blue" href="{% url 'customer' %}">New Customer</a>
                <a class="btn bg-blue" href="{% url 'profile' %}">My Details</a>
            </div>
            <div class="col-12 col-lg-6">
                <h2>Invoice overview</h2>
                <p>Here are your invoices</p>
            </div>
            <div class="col-12 col-lg-6">
                <h2>Customer overview</h2>
                <p>Here are your customers</p>
            </div>
        </div>
    </div>
{% endblock %}
