{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Invoices
{% endblock %}

{% block content %}
    <!-- Hero and Header -->
    <div class="container-fluid hero-container-invoices">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- UI buttons depending on current subs -->
            <div class="col-12 col-lg-6 mb-4">
                {% if subscribed %}
                    <a class="btn bg-orange" href="{% url 'invoice' 0 %}">New Invoice</a>
                    <a class="btn bg-blue" href="{% url 'customer' 0 %}">New Customer</a>
                    <a class="btn bg-blue" href="{% url 'profile' %}">My Details</a>
                {% else %}
                    <button class="btn bg-grey" href="{% url 'invoice' 0 %}" disabled>New Invoice</button>
                    <button class="btn bg-grey" href="{% url 'customer' 0 %}" disabled>New Customer</button>
                    <a class="btn bg-blue" href="{% url 'profile' %}">My Details</a>
                {% endif %}
            </div>

            <!-- Subscription summary -->
            <div class="col-12 col-lg-6 mb-4 subs-box">
                {% if subscription.status == "active" %}
                    <div class="col-12 row">
                        <div class="col-12 col-md-6">
                            <h2>Your subscription:</h2>
                            {% if cancelled %}
                                <p>Your subscription is cancelled and will expire on {{ subscription_end }}</p>
                                <a class="btn bg-orange mt-1 mb-3" href="{% url 'reactivate' %}">Reactivate</a>
                            {% else %}
                                <a class="btn bg-blue mt-1 mb-3" href="{% url 'cancel' %}">Cancel</a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <p class=""><strong>{{ product.name }}</strong></p>
                            <p>Valid from: {{ subscription_start }}</p>
                            <p>Valid to: {{ subscription_end }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 row">
                        <div class="col-6">
                            <h2>Your subscription:</h2>
                            <a class="btn bg-orange" href="{% url 'pricing' %}">See Prices</a>
                        </div>
                        <div class="col-6">
                            <p class=""><strong>{{ subscription }}</strong></p>
                            <p>You don't currently have a subscription with us.  You can still view your existing documents.</p>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- List of invoices -->
            <div class="col-12 col-lg-6">
                <h2>Invoice overview</h2>
                <p>Here are your invoices</p>
                <div>
                    {% for invoice in invoices %}
                        <div class="row mb-1">
                            <div class="col-2">
                                {{ invoice.invoice_number }}
                            </div>
                            <div class="col-4">
                                {% if invoice.customer_code.customer_business_name %}
                                    {{ invoice.customer_code.customer_business_name }}
                                {% else %}
                                    {{ invoice.customer_code.customer_first_name }} {{ invoice.customer_code.customer_last_name }}
                                {% endif %}
                            </div>
                            <div class="col-2 text-end">
                                {{ invoice.invoice_gross|floatformat:2 }}
                            </div>
                            <div class="col-4">
                                {% if subscribed %}
                                    <a href="{% url 'invoice' invoice.id %}" class="btn btn-sm bg-blue">Edit</a>
                                    <a href="{% url 'view_pdf' invoice.id %}" class="btn btn-sm bg-blue" target="_blank">View</a>
                                    <button type="button" class="btn btn-sm bg-grey" data-bs-toggle="modal" data-bs-target="#invoiceModal{{ invoice.id }}">
                                        Delete
                                    </button>
                                {% else %}
                                    <a href="{% url 'view_pdf' invoice.id %}" class="btn btn-sm bg-grey" target="_blank">View Only</a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Modal - Delete invoice -->
                        <div class="modal fade" id="invoiceModal{{ invoice.id }}" tabindex="-1" aria-labelledby="invoiceModalLabel{{ invoice.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="invoiceModalLabel{{ invoice.id }}">Delete Invoice</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Deleting this invoice is irreversible</strong>, and cannot be undone. Clicking 'Delete' below will remove the invoice permanently.</p>
                                        <p>We strongly discourage this action.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn bg-orange" data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'delete_invoice' invoice.id %}" class="btn delete">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- List of customers -->
            <div class="col-12 col-lg-6">
                <h2>Customer overview</h2>
                <p>Here are your customers</p>
                <div>
                    {% for customer in customers %}
                        <div class="row mb-1">
                            <div class="col-3">
                                {{ customer.customer_code }}
                            </div>
                            <div class="col-6">
                                {% if customer.customer_business_name %}
                                    {{ customer.customer_business_name }}
                                {% else %}
                                    {{ customer.customer_first_name }} {{ customer.customer_last_name }}
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if subscribed %}
                                    <a href="{% url 'customer' customer.id %}" class="btn btn-sm bg-blue">Edit</a>
                                    <button type="button" class="btn btn-sm bg-grey" data-bs-toggle="modal" data-bs-target="#customerModal{{ customer.id }}">
                                        Delete
                                    </button>
                                {% else %}
                                    <button class="btn btn-sm bg-grey" disabled>N/A</button>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Modal - Delete customer -->
                        <div class="modal fade" id="customerModal{{ customer.id }}" tabindex="-1" aria-labelledby="customerModalLabel{{ customer.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="customerModalLabel{{ customer.id }}">Delete Customer</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Deleting this customer is irreversible</strong>, and cannot be undone. Clicking 'Delete' below will remove the customer <strong>and ALL related invoices</strong> permanently.</p>
                                        <p>We strongly discourage this action.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn bg-orange" data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'delete_customer' customer.id %}" class="btn delete">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
