{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Invoices
{% endblock %}

{% block content %}

    <div class="container-fluid hero-container-invoices">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-4">
                <a class="btn bg-orange" href="{% url 'invoice' 0 %}">New Invoice</a>
                <a class="btn bg-blue" href="{% url 'customer' 0 %}">New Customer</a>
                <a class="btn bg-blue" href="{% url 'profile' %}">My Details</a>
            </div>
            <div class="col-12 col-lg-6 mb-4 subs-box">
                {% if subscription.status == "active" %}
                    <div class="col-12 row">
                        <div class="col-12 col-md-6">
                            <h2>Your subscription:</h2>
                            {% if cancelled %}
                            <p>Your subscription is cancelled and will expire on {{ subscription_end }}</p>
                            <a class="btn bg-orange mt-1 mb-3" href="{% url 'reactivate' %}">Reactivate</a>
                        {% else %}
                            <a class="btn bg-blue mt-1 mb-3" href="{% url 'cancel' %}">Cancel</a>
                        {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <p class=""><strong>{{ product.name }}</strong></p>
                            <p>Valid from: {{ subscription_start }}</p>
                            <p>Valid to: {{ subscription_end }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 row">
                        <div class="col-6">
                            <h2>Your subscription:</h2>
                            <a class="btn bg-orange" href="{% url 'pricing' %}">See Prices</a>
                        </div>
                        <div class="col-6">
                            <p class=""><strong>{{ subscription }}</strong></p>
                            <p>You don't currently have a subscription with us.  You can still view your existing documents.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6">
                <h2>Invoice overview</h2>
                <p>Here are your invoices</p>
                <div>
                    {% for invoice in invoices %}
                        <div class="row mb-1">
                            <div class="col-2">
                                {{ invoice.invoice_number }}
                            </div>
                            <div class="col-5">
                                {{ invoice.customer_code_id }}
                            </div>
                            <div class="col-2">
                                {{ invoice.invoice_subtotal }}
                            </div>
                            <div class="col-3">
                                {% if subscribed %}
                                    <a href="{% url 'invoice' invoice.id %}" class="btn btn-sm bg-blue">Edit</a>
                                {% else %}
                                    <button class="btn btn-sm bg-grey" disabled>View Only</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2>Customer overview</h2>
                <p>Here are your customers</p>
                <div>
                    {% for customer in customers %}
                        <div class="row mb-1">
                            <div class="col-3">
                                {{ customer.customer_code }}
                            </div>
                            <div class="col-6">
                                {% if customer.customer_business_name %}
                                    {{ customer.customer_business_name }}
                                {% else %}
                                    {{ customer.customer_first_name }} {{ customer.customer_last_name }}
                                {% endif %}
                            </div>
                            <div class="col-3">
                                {% if subscribed %}
                                    <a href="{% url 'customer' customer.id %}" class="btn btn-sm bg-blue">Edit</a>
                                {% else %}
                                    <button class="btn btn-sm bg-grey" disabled>View Only</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
