{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        {% endblock %}

        <title>InvoicEasy{% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <h1>InvoicEasy</h1>
        </header>

        <nav>
            Nav here
        </nav>

        <main>
            <section>
                {% if messages %}
                    <div class="message-container"></div>
                {% endif %}
            </section>

            <section>
                {% block content %}
                {% endblock %}
            </section>
        </main>

        <footer>
            <div>
                Footer here
            </div>
        </footer>

        {% block js %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>