{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
    <meta name="description" content="Have a question about InvoicEasy? Get in touch."/>
{% endblock %}

{% block extra_title %}
{{ block.super }}
    | Contact
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container hero-contact">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>

    <!-- Form and intro -->
    <div class="container">
        <div class="row">
            <h2>Stuck with something?  Have a question?  Send us a message:</h2>
            <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                <form id="contact-form" action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-5">
                        <button class="btn bg-orange" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
