{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Plan Detail
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Plan Details - {{ plan.name }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Find out more about our {{ plan.name }} plan below.  It's important that you find the right deal for you so feel free to browse until you are ready.</p>
                <div class="row">
                    <div class="col-12">
                        {% if plan.image %}
                            <img src="{{ plan.image.url }}" alt="{{ plan.image_alt }}">
                        {% else %}
                            <img src="https://res.cloudinary.com/hpzrza9wp/image/upload/v1650125565/media/noimage_jplrvs.png" alt="InvoicEasy logo">
                        {% endif %}
                        <h5 class="">{{ plan.name }}</h5>
                        <p>£{{ plan.price }} per month</p>
                        <p class="">{{ plan.description }}</p>
                        <a href="{% url 'subscribe' %}" class="btn">Choose this Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
