{% extends "base.html" %}
{% load static %}

{% block meta %}
{{ block.super }}
    <meta name="description" content="See plan details for our easy, no nonsense invoicing service aimed at the small or micro business."/>
{% endblock %}

{% block extra_title %}
{{ block.super }}
    | Plan Detail
{% endblock %}

{% block content %}
    <!-- Hero image/header -->
    <div class="container-fluid hero-container hero-plan-details">
        <div class="hero-overlay-skinny">&nbsp;</div>
        <div class="row">
            <div class="col-12 hero-text">
                <h1>Plan Details - {{ plan.name }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Pull through and expand on details for specific plan -->
            <div class="col-12">
                <p>Find out more about our {{ plan.name }} plan below. It's important that you find the right deal for
                    you so feel free to browse until you are ready.</p>
                <div class="row">
                    <div class="col-12 col-sm-6 offset-lg-1 col-lg-5 offset-xl-2 col-xl-4">
                        <img class="pricing-img" src="{% static 'images/noimage.png' %}" alt="InvoicEasy logo">
                    </div>
                    <div class="col-12 col-sm-6">
                        <h2 class="">{{ plan.name }}</h2>
                        <p>£{{ plan.price }} per month</p>
                        <p class="">{{ plan.description }}</p>
                        <a href="{% url 'subscribe' %}" class="btn bg-orange">Choose this Plan</a>
                    </div>
                    <div class="col-12 mt-5">
                        <h3>Full info:</h3>
                        <p>At this time, our plans are exactly the same. We give you a chunky discount for committing to
                            us for 3 months and paying in advance. Everything else is the same.</p>
                        <ul>
                            <li>Unlimited customers</li>
                            <li>Unlimited invoices</li>
                            <li>Unlimited emails</li>
                            <li>White label approach, only your branding on your invoices</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
