{% extends "base.html" %}
{% load static %}

{% block extra_title %}
{{ block.super }}
    | Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Pricing</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>We have two plans, and a free trial period:</p>
                <div class="row">
                    {% for plan in plans %}
                    <div class="card col-12 col-md-6 col-lg-4">
                        <img src="{{ plan.image.url }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ plan.name }}</h5>
                            <p class="card-text">{{ plan.description }}</p>
                            <p>£{{ plan.price }}</p>
                            <a href="" class="btn">More information</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
