<html>
    <head>
        <style>
            * {
                font-size: 15px;
            }
        </style>
    </head>

    <body>
        <h2>{{ subscriber.business_name }}</h2>
        <p>{{ subscriber.first_name }} {{ subscriber.last_name }}</p>
        <address>{{ subscriber.address_1 }}<br>
            {{ subscriber.address_2 }}<br>
            {{ subscriber.town_or_city }}<br>
            {{ subscriber.county }}<br>
            {{ subscriber.postcode }}<br>
        </address>
        <p>{{ subscriber.telephone }}</p>
        <p>{{ subscriber.email }}</p>
    </body>
</html>